In [1]:
import pandas as pd

In [3]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv'
baby_names = pd.read_csv(url)
baby_names.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1016395 entries, 0 to 1016394
Data columns (total 7 columns):
Unnamed: 0    1016395 non-null int64
Id            1016395 non-null int64
Name          1016395 non-null object
Year          1016395 non-null int64
Gender        1016395 non-null object
State         1016395 non-null object
Count         1016395 non-null int64
dtypes: int64(4), object(3)
memory usage: 54.3+ MB

In [4]:
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

In [5]:
#delete the column unamed and Id
del baby_names['Unnamed: 0']
del baby_names['Id']
baby_names.head()

      Name  Year Gender State  Count
0     Emma  2004      F    AK     62
1  Madison  2004      F    AK     48
2   Hannah  2004      F    AK     46
3    Grace  2004      F    AK     44
4    Emily  2004      F    AK     41

In [6]:
#are there more male or female names in the dataset?
baby_names['Gender'].value_counts()

F    558846
M    457549
Name: Gender, dtype: int64

In [8]:
#group the dataset by name and assign to names
#delete Year column
del baby_names['Year']

KeyError: 'Year'

In [9]:
#group the data
names = baby_names.groupby('Name').sum()
names.head()

         Count
Name
Aaban       12
Aadan       23
Aadarsh      5
Aaden     3426
Aadhav       6

In [11]:
#print the size of the dataset
print(names.shape)
#sort it from the biggest value to the smallest one
names.sort_values('Count', ascending = 0).head()

(17632, 1)

           Count
Name
Jacob     242874
Emma      214852
Michael   214405
Ethan     209277
Isabella  204798

In [12]:
#how many different names exist in the dataset?
len(names)

17632

In [14]:
#what is the name with the most occurrences?
names.Count.idxmax()

'Jacob'

In [16]:
#how many different names have the least occurrences?
len(names[names.Count == names.Count.min()])

2578

In [17]:
#what is the median name occurrence?
names[names.Count == names.Count.median()]

         Count
Name
Aishani     49
Alara       49
Alysse      49
Ameir       49
Anely       49
...        ...
Sriram      49
Trinton     49
Vita        49
Yoni        49
Zuleima     49

[66 rows x 1 columns]

In [18]:
#what is the standard deviation of names?
names.Count.std()

11006.069467891111

In [19]:
#summary
names.describe()

               Count
count   17632.000000
mean     2008.932169
std     11006.069468
min         5.000000
25%        11.000000
50%        49.000000
75%       337.000000
max    242874.000000