In [1]:
import pandas as pd
import numpy as np

In [2]:
url='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

potle = pd.read_csv(url, sep='\t')

In [5]:
potle.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [ ]:
#What is the number of observations in the dataset?

In [9]:
potle.shape[0]

4622

In [11]:
potle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [12]:
#What is the number of columns in the dataset?

In [13]:
potle.shape[1]

5

In [14]:
#Print the names of all the columns

In [15]:
potle.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [16]:
#How is the dataset indexed?

In [17]:
potle.index

RangeIndex(start=0, stop=4622, step=1)

In [18]:
#Which was the most-ordered item?

In [19]:
c = potle.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending = False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [20]:
#For the most-ordered item, how many items were ordered?

In [23]:
c=potle.groupby('item_name')
c=c.sum()
c=c.sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [24]:
#What was the most ordered item in the choice_description column?

In [25]:
c= potle.groupby('choice_description').sum()
c= c.sort_values(['quantity'], ascending=False)
c.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [26]:
#How many items were ordered in total?

In [29]:
total_items_orders = potle.quantity.sum()
total_items_orders

4972

In [30]:
#Turn the item price into a float

In [31]:
potle.item_price.dtype

dtype('O')

In [32]:
dollarizer = lambda x: float(x[1:-1])
potle.item_price=potle.item_price.apply(dollarizer)

In [33]:
potle.item_price.dtype

dtype('float64')

In [34]:
#How much was the revenue for the period in the dataset?

In [36]:
revenue = (potle['quantity']*potle['item_price']).sum()
print('Revenue was: $'+ str(np.round(revenue,2)))

Revenue was: $39237.02

In [40]:
#How many orders were made in the period

In [41]:
orders = potle.order_id.value_counts().count()
orders

1834

In [42]:
#What is the average revenue amount per order?

In [47]:
potle['revenue'] = potle['quantity'] * potle['item_price']
order_grouped = potle.groupby(by=['order_id']).sum()
order_grouped

          quantity  item_price  revenue
order_id
1                4       11.56    11.56
2                2       16.98    33.96
3                2       12.67    12.67
4                2       21.00    21.00
5                2       13.70    13.70
...            ...         ...      ...
1830             2       23.00    23.00
1831             3       12.90    12.90
1832             2       13.20    13.20
1833             2       23.50    23.50
1834             3       28.75    28.75

[1834 rows x 3 columns]

In [48]:
potle['revenue'] = potle['quantity'] * potle['item_price']
order_grouped = potle.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

21.394231188658654

In [49]:
potle.groupby(by=['order_id']).sum().mean()['revenue']

21.394231188658654

In [50]:
#How many different items are sold?

In [51]:
potle.item_name.value_counts().count()

50